<h1>Itinerář produktů</h1>

<table id= "pubs" class="table table-hover" style="background-color:maroon; max-width:60%;">
  <thead>
    <tr>
      <th>Položka</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.name %></td>
        <td><%= link_to 'Zobrazit detaily', itinerary %></td>
        <td><%= link_to 'Upravit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Smazat', itinerary, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>
