<h1>Seznam uživatelů</h1>

<table id= "pubs" class="table table-hover" style="background-color:maroon; max-width:60%;">
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Příjmení</th>
      <th>Město</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.city %></td>
        <td><%= link_to 'Zobrazit detajly', user %></td>
        <td><%= link_to 'Upravit', edit_user_path(user) %></td>
        <td><%= link_to 'Smazat', user, method: :delete, data: { confirm: 'Opravdu chcete smazat tohoto uživatele ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat uživatele', new_user_registration_path %>
