<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Město:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Pladby:</strong>
  <% @user.payments.each do |payment| %>
    <%= link_to payment.item, payment %>
  <% end %>
</p>

<%= link_to 'Editovat', edit_user_path(@user) %> |
<%= link_to 'Zpět', users_path %>
