<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "Uživatel" %>
    <%= f.select :user_id, options_for_select(User.all.collect{|user| ["#{user.name} #{user.surname}", user.id]}, @payment.user_id), include_blank: true %>
  </div>
    <div class="field">
    <%= f.label :pub_id, "Restaurace" %>
    <%= f.select :pub_id, options_for_select(Pub.all.collect{|pub| ["#{pub.name}", pub.id]}, @payment.pub_id), include_blank: true %>
  </div>
  <div class="field">
      <%= f.label :itinerary_ids, "Položky" %></br>
      <%#= collection_check_boxes(:payment, :itinerary_ids, Itinerary.all, :id, :name), class: 'itinerary_ids' %>
      <%= collection_check_boxes(:payment, :itinerary_ids, Itinerary.all, :id, :name) do |b| %>
        <%= b.label(class: "payment_itinerary_label") %>
        <%= b.check_box(class: "payment_itinerary_checkbox") + b.text %>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :amount, "Cena" %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date, "Datum" %><br>
    <%= f.date_select :date  %>
  </div>
  <div class="actions">
    <%= f.submit "Uložit účet" %>
  </div>
<% end %>
