<p id="notice"><%= notice %></p>

<p>
  <strong>Uživatel:</strong>
  <%= "#{@payment.user.name} #{@payment.user.name}" if @payment.user.name.present? %>
</p>

<p>
  <strong>Hospoda:</strong>
  <%= "#{@payment.pub.name}" if @payment.pub.name.present? %>
</p>


<p>
  <strong>Cena:</strong>
  <%= @payment.amount %>&nbsp;Kč
</p>

<p>
  <strong>Datum:</strong>
  <%= @payment.date.strftime("%d. %m. %Y") %>
</p>


<%= link_to 'Editovat', edit_payment_path(@payment) %> |
<%= link_to 'Zpět', payments_path %>
