<p id="notice"><%= notice %></p>

<p>
  <strong>Uživatel:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Hospoda:</strong>
  <%= @payment.pub_id %>
</p>


<p>
  <strong>Cena:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Uživatel:</strong>
  <%= @payment.user.name if @payment.user.present? %>
</p>

<%= link_to 'Editovat', edit_payment_path(@payment) %> |
<%= link_to 'Zpět', payments_path %>
