<%= form_for(@pub) do |f| %>
  <% if @pub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pub.errors.count, "error") %> prohibited this pub from being saved:</h2>

      <ul>
      <% @pub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Jméno podniku' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city, 'Město' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street, 'Ulice' %><br>
    <%= f.text_field :street %>
  </div>
  <div class="actions">
    <%= f.submit 'Uložit hospodu' %>
  </div>
<% end %>
