<h1 style="color:black;text-align:center;">Seznam podniků v databázi</h1>

<table id= "pubs" class="table table-hover" style="background-color:maroon; max-width:60%;">
  <thead>
    <tr>
      <th>Jméno podniku</th>
      <th>Město</th>
      <th>Ulice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pubs.each do |pub| %>
      <tr>
        <td><%= pub.name %></td>
        <td><%= pub.city %></td>
        <td><%= pub.street %></td>
        <td><%= link_to 'Detaily', pub %></td>
        <td><%= link_to 'Změnit', edit_pub_path(pub) %></td>
        <td><%= link_to 'Odstranit', pub, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat hospodu', new_pub_path %>
