<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno podniku:</strong>
  <%= @pub.name %>
</p>

<p>
  <strong>Město:</strong>
  <%= @pub.city %>
</p>

<p>
  <strong>Ulice:</strong>
  <%= @pub.street %>
</p>

<%= link_to 'Editovat', edit_pub_path(@pub) %> |
<%= link_to 'Zpět', pubs_path %>
