<!DOCTYPE html>
<html>
<head>
  <title>Alkoholik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="body">
			<header>
			<div>&nbsp;</div>
				<span class="menu-item"><%= link_to "Home", root_path %></span>
				<span class="menu-item"><%= link_to "Hospody", pubs_path %></span>
				<span class="menu-item"><%= link_to "Uživatelé", users_path %></span>
			</header>
				<%= yield %>
	</div>
</body>
</html>
